* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Result-container {
  background-color: #6e6e6e;
  width: 290px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.result {
  color: #fff;
  align-self: flex-end;
  margin: 5px;
}
